<div class="container">
    <div class="row g-2">
        <div class="col-12">
            <div class="d-flex justify-content-left align-items-center gap-4">
                <img class="img-fluid img-cover" [src]="musicList[0].cover" />
                <div class="row">
                    <h3>{{musicList[0].album}}</h3>
                    <p><a href="" class="text-decoration-none">{{musicList[0].author}}</a></p>
                    <small class="text-muted">{{musicList[0].year}}</small>
                </div>
            </div>
        </div>
        <div class="col-12">
            <ul class="list-group">
                @for (item of musicList; track item; let i = $index) {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="d-flex justify-content-left align-items-center gap-4">
                                <button class="btn btn-sm btn-link" (click)="src = item.file!">
                                    <i class="fad fa-play"></i>
                                </button>
                                <h6 class="mb-0">{{i + 1}}. {{item.name}}</h6>
                            </div>
                            <span></span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div app-audio-player>
        <app-audio-player [src]="src" [play]="true"></app-audio-player>
    </div>
</div>