/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Th.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-L.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-R.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-R.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-M.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-B.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Microsoft Yahei UI';
    src: url('../fonts/msyhl.ttc');
    font-weight: 300
}

@font-face {
    font-family: 'Microsoft Yahei UI';
    src: url('../fonts/msyhsb.ttc');
    font-weight: 500
}

@font-face {
    font-family: 'Microsoft Yahei UI';
    src: url('../fonts/msyh.ttc');
    font-weight: 400
}

@font-face {
    font-family: 'Microsoft Yahei UI';
    src: url('../fonts/msyhbd.ttc');
    font-weight: 600
}

@font-face {
    font-family: 'Microsoft Yahei UI';
    src: url('../fonts/msyhsl.ttc');
    font-weight: 350
}

@font-face {
    font-family: 'Koruri';
    src: url('../fonts/Koruri-Extrabold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Koruri';
    src: url('../fonts/Koruri-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Koruri';
    src: url('../fonts/Koruri-Semibold.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Koruri';
    src: url('../fonts/Koruri-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Koruri';
    src: url('../fonts/Koruri-Light.ttf');
    font-weight: 300;
}

:root,
html,
body,
* {
    --bs-font-sans-serif: 'Ubuntu', 'Microsoft YaHei UI', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: var(--bs-font-sans-serif);
}

.app-container,
.app-container>.row {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
}

.app-container .d-lg-flex nav.app-sidenav {
    background-color: var(--bs-tertiary-bg);
    height: 100% !important;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .5rem;
    width: 100%;
    border-right: var(--bs-border-width) solid var(--bs-border-color-translucent);
}

.d-lg-flex ul.nav-list {
    overflow-y: auto;
}

.nav-title {
    padding-left: .75rem;
}

.app-container .d-md-block nav.app-sidenav {
    background-color: var(--bs-tertiary-bg);
    width: 100% !important;
    border-top: var(--bs-border-width) solid var(--bs-border-color-translucent);
    bottom: 0;
    padding: .5rem;
    position: fixed;
    overflow-x: auto;
    overflow-y: hidden;
}

.app-container .app-body {
    height: 100% !important;
    padding-top: 2rem;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow-y: auto;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    .app-container .app-body {
        padding: 2rem;
    }
}

.app-sidenav>ul.nav-list {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

ul.nav-list>li.nav-item,
.nav-bottom-item {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--bs-border-radius);
    transition: .1s ease-in-out;
    border: var(--bs-border-width) solid transparent;
}

ul.nav-list>li.nav-item:hover,
li.nav-item.active,
.nav-bottom-item:hover,
.nav-bottom-item.active {
    background-color: rgba(var(--bs-tertiary-color-rgb), .05) !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
}

ul.nav-list>li.nav-item:focus,
ul.nav-list>li.nav-item:active,
.nav-bottom-item:focus,
.nav-bottom-item:active {
    background-color: rgba(var(--bs-tertiary-color-rgb), .1);
}

.d-lg-flex li.nav-item>a.nav-link,
.nav-bottom-item>.nav-link {
    align-items: center;
    display: flex;
    padding: 0 .5rem;
    justify-content: left;
}

.d-lg-flex li.nav-item::before,
.nav-bottom-item::before {
    content: "";
    background: transparent;
    transform: translate3d(-200%, 0, 0);
    width: .25rem;
    height: 1rem !important;
    transition: all 0.4s;
    border-radius: 8px;
    height: 20px;
    transition: height 0.1s;
    transform: translate3d(0, 0, 0);
}

.d-lg-flex li.nav-item.active::before,
.nav-bottom-item.active::before {
    content: "";
    background: var(--bs-primary);
    transform: translate3d(-200%, 0, 0);
    width: .25rem;
    height: 1rem !important;
    transition: all 0.4s;
    border-radius: 8px;
    height: 20px;
    transition: height 0.1s;
    transform: translate3d(0, 0, 0);
}

.d-lg-flex li.nav-item.active:active::before,
.nav-bottom-item.active:active::before {
    height: .75rem !important;
    transition: height 0.1s;
    transform: translate3d(0, 0, 0);
}

.d-lg-flex ul.nav-list {
    gap: .5rem
}

.d-md-block ul.nav-list {
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem
}

.d-md-block ul.nav-list > li.nav-item:last-of-type {
    margin-right: .5rem;
}

.d-md-block li.nav-item {
    flex-wrap: wrap;
    padding: 0 !important;
    flex-direction: column;
    min-width: 5rem;
    align-items: center;
}

.d-md-block li.nav-item>a.nav-link {
    align-items: center;
    display: flex;
    padding: .25rem .5rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.d-md-block li.nav-item.active::after {
    content: "";
    background: var(--bs-primary);
    transform: translate3d(-200%, 0, 0);
    height: .25rem;
    width: 1rem !important;
    transition: all 0.4s;
    border-radius: 8px;
    transition: height 0.1s;
    transform: translate3d(0, 0, 0);
}

.d-md-block li.nav-item.active:active::after {
    width: .75rem !important;
    transition: height 0.1s;
    transform: translate3d(0, 0, 0);
}

/*[data-bs-theme=dark] .apexcharts-svg, canvas {
    filter: invert(1) hue-rotate(180deg) !important
}*/

.apexcharts-tooltip {
    backdrop-filter: blur(50px) !important;
    -webkit-backdrop-filter: blur(50px) !important;
    border-radius: var(--bs-border-radius) !important;
    border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
}

.search-box>input {
    max-width: 30rem;
}